## Packages

In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.cluster import KMeans

In [2]:
from src.clustering import *

## Data loading

In [3]:
datatypes = {
    'product_id': 'uint32',
    'client_id': 'uint32',
    'sales_net': 'float64',
    'quantity': 'int32',
    'order_channel': 'object',
    'branch_id': 'uint16',
    'unit_price': 'int8',
    'stock_flow': 'int8',
    'month_order': 'uint8',
    'order_invoice_delta': 'float16'
}

In [4]:
df = load_preprocessed_data(datatypes)
print(df.shape[0] == 63319315)

True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63319315 entries, 0 to 63319314
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   product_id           uint32
 1   client_id            uint32
 2   sales_net            float64
 3   quantity             int32
 4   order_channel        object
 5   branch_id            uint16
 6   unit_price           int8
 7   stock_flow           int8
 8   month_order          uint8
 9   order_invoice_delta  float16
dtypes: float16(1), float64(1), int32(1), int8(2), object(1), uint16(1), uint32(2), uint8(1)
memory usage: 2.1+ GB

## Clustering

In [6]:
df = categorical_encoding(df)

In [7]:
df.dropna(inplace=True)

In [8]:
kmeans_kwargs = {
        "init": "random",
        "n_init": 10,
        "max_iter": 750,
        "random_state": 0
    }

kmeans = KMeans(n_clusters=4, **kmeans_kwargs)
kmeans.fit(df)

KMeans(init='random', max_iter=750, n_clusters=4, random_state=0)

In [10]:
df_kmeans = pd.DataFrame(kmeans.transform(df))
df_kmeans.columns = [str(i) for i in range(4)]
df_kmeans['cluster'] = kmeans.predict(df)

In [11]:
df_kmeans.head()

              0             1             2             3  cluster
0  3.772637e+05  2.148597e+06  1.510704e+06  1.576281e+06        0
1  2.878323e+05  1.882430e+06  8.676014e+05  1.697803e+06        0
2  1.419991e+06  1.711950e+06  2.986247e+05  2.206342e+06        2
3  5.998821e+05  2.442448e+06  1.250739e+06  2.184108e+06        0
4  2.698694e+06  7.523988e+05  2.262473e+06  1.654547e+06        1

In [12]:
df_kmeans.to_csv((os.path.join("data", "kmeans_data.csv")))